<% iris.title( _T("Roadmap — Sia") ); %>
<% include partial/header %>
		<section class="timeline ">
			<div class="container">
				<header class="row">
					<div class="col-xs-12 col-lg-12">
						<h1><%= _T("Roadmap") %></h1>
						<h2><%= _T("MILESTONES AND GOALS") %></h2>
					</div>
				</header>
				<div class="timeline-content">
					<div class="col-xs-12 col-lg-12">
						<ul class="timeline">
							<li class="timeline-inverted">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/img/svg/green-circle.svg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4><%= _T("October 2013: Idea") %></h4>
									</div>
								</div>
							</li>
							<li class="">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/img/svg/green-circle.svg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4><%= _T("June 2014: Angel Investment") %><br></h4>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/img/svg/green-circle.svg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4><%= _T("November 2014: Whitepaper") %></h4>
									</div>
								</div>
							</li>
							<li class="">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/img/svg/green-circle.svg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4><%= _T("June 2015: Sia Network Launches") %></h4>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/img/svg/green-circle.svg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4><%= _T("August 2015: Sia on Poloniex") %></h4>
									</div>
								</div>
							</li>
							<li class="">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/img/svg/green-circle.svg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4><%= _T("June 2016: Sia Version 1") %></h4>
									</div>
								</div>
							</li>
							<li class="timeline-inverted">
								<div class="timeline-image">
									<img class="img-circle img-responsive" src="/img/svg/green-circle.svg" alt="">
								</div>
								<div class="timeline-panel">
									<div class="timeline-heading">
										<h4><%= _T("October 2016: Amazon S3 API Compatibility") %></h4>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
<% include partial/discover %>
<% include partial/footer %>
