<% iris.title( _T("Collaborations — Sia") ); %>
<% include partial/header %>
	<section class="article ">
		<div class="container">
			<header class="row">
				<div class="col-xs-12">
					<h2><%= _T("Collaborations") %></h2>
					<h2><%= _T("PARTNERS THAT USE SIA TECHNOLOGY") %></h2>
				</div>
			</header>
			<div class="row">
				<div class="col-xs-12 col-lg-8 col-lg-offset-2">
					<h3><%= _T("Crypti") %></h3>
					<p><img src="/assets/crypti-logo.png"></p>
					<p><%= _T("We are happy to announce a partnership between the Sia project and the Crypti project. For those who don't know, Crypti is a decentralized application platform that empowers developers to write their own applications. Crypti provides a full stack solution for deploying truly decentralized applications onto the blockchain, while also providing an excellent user expereince for anyone looking to make safe and easy transactions within seconds. Crypti's very own Dapp store gives consumers the same if not superior interface consumers have come to expect from existing centralized solutions currently dominating the market. Each Dapp operates on a separate custom sidechain secured by Crypti's own version of the Delegated Proof of Stake consensus model. For the progressive startup looking for the perfect platform on which to launch their first Dapp, Crypti is the number one choice. Further development of the core protocol is maintained by the Crypti Foundation, a dedicated team of developers, entrepreneurs and engineers from across the globe.") %></p>
					<p><a href="http://crypti.me/" target="_blank"><%= _T("Crypti Website") %></a></p>
					<p><a href="http://blog.crypti.me/" target="_blank"><%= _T("Crypti Blog") %></a></p>
					<p><a href="http://bitcointalk.org/index.php?topic=65446300" target="_blank"><%= _T("Crypti BTT Thread") %></a></p>
				</div>
			</div>
		</div>
	</section>
<% include partial/discover %>
<% include partial/footer %>
