	<section class="discover">
		<div class="container">
			<header class="row">
				<div class="col-xs-12 col-lg-12">
					<h1><%= _T("Discover more") %></h1>
				</div>
			</header>
			<div class="icon-group">
				<a href="/assets/globals/sia.pdf" target="_blank" class="nav-link">
					<img src="/assets/globals/whitepaper-icon.svg" /><span><%= _T("Whitepaper") %></span>
				</a>
				<a href="http://blog.sia.tech/" target="_blank" class="nav-link">
					<img src="/assets/globals/blog-icon.svg" /><span><%= _T("Blog") %></span>
				</a>
				<a href="/faq" class="nav-link">
					<img src="/assets/globals/faq-icon.svg" /><span><%= _T("FAQ") %></span>
				</a>
				<a href="http://explore.sia.tech/" target="_blank" class="nav-link">
					<img src="/assets/globals/bcexplorer-icon.svg" /><span><%= _T("Blockchain Explorer") %></span>
				</a>
				<a href="/apps" class="nav-link">
					<img src="/assets/globals/apps-icon.svg" /><span><%= _T("Apps") %></span>
				</a>
				<a href="/about/roadmap" class="nav-link">
					<img src="/assets/globals/roadmap-icon.svg" /><span><%= _T("Roadmap") %></span>
				</a>
				<a href="http://github.com/NebulousLabs/Sia/tree/master/doc" target="_blank" class="nav-link">
					<img src="/assets/globals/devdoc-icon.svg" /><span><%= _T("Developer Docs") %></span>
				</a>
			</div>
		</div>
	</section>
