
<!-- ######################### CONTENT END ######################## -->
</main>
	<footer>
		<section id="main-footer">
			<div class="container">
				<div class="row">
					<% _.each(iris.footerMenus, function(m){ %>
					<div  class="col-lg-2 col-sm-4">
						<ul>
							<li><span class="list-header"><%= m.title %></span></li>
							<% _.each(m.items, function(link){ %>
								<li><a href="<%= link.href %>" <%= link.target ? 'target="'+link.target+'"' :"" %>><%= link.text %></a></li>
							<% }) %>
							</li>
						</ul>
					</div>
					<% }) %>
					<div class="col-lg-3 col-lg-offset-3 col-sm-7 logos" class="col-lg-2 col-sm-4">
						<ul>
							<li><img src="/assets/globals/logo.svg" /><span class="list-header"><%= _T("is backed by") %></span></li>
							<li><a href="http://www.nebulouslabs.com" target="_blank"><img src="/resources/img/svg/nebulous-logo.svg" /></a></li>
						</ul>
					</div>
					<div class="col-lg-12 questions" class="col-lg-2 col-sm-4">
						<ul>
							<li><span class="list-header"><%= _T("Questions about Sia? Get in touch!") %></span></li>
							<li><a href="mailto:hello@sia.tech" target="_blank" class="email btn btn-reverse"style="margin-top:9px;"><%= _T("Contact") %></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section id="social-footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 col-md-9">
						<ul>
							<li>
								<a href="https://github.com/NebulousLabs/Sia" target="_blank">
									<span class="icon"><img src="/img/svg/github-icon.svg"></span>
									<span class="text"><%= _T("Github") %></span>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/nebulouslabs/" target="_blank">
									<span class="icon"><img src="/img/svg/facebook-icon.svg"></span>
									<span class="text"><%= _T("Like us") %></span>
								</a>
							</li>
							<li>
								<a href="https://twitter.com/SiaTechHQ" target="_blank">
									<span class="icon"><img src="/img/svg/twitter-icon.svg"></span>
									<span class="text"><%= _T("Follow us") %></span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-lg-3 col-md-3">
						<p>
							<span class="copyright">&copy; <%= _T("Nebulous Inc.") %></span>
						</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</body>
</html>
